<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LogiTrack Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

    <div id="container">

        <aside id="sidebar">
            <header class="top">
                <h1 class="logo">El Lobo</h1>

                <nav aria-label="Menú principal">
                    <ul>
                        <li class="activo_menu"><a href="sec-bodegas">Bodegas</a></li>
                        <li><a href="sec-productos">Productos</a></li>
                        <li><a href="sec-entradas">Entradas</a></li>
                        <li><a href="sec-salidas">Salidas</a></li>
                        <li><a href="sec-Transferencia">Transferencias</a></li>
                    </ul>
                </nav>
            </header>

            <footer class="bottom">
                <p class="user">Hola, <span id="username"></span></p>
                <p id="rol"></p>
                <button id="btn-cerrar-sesion" class="logout-btn">Salir</button>
            </footer>
        </aside>

        <main id="main">
            <header>
                <h2>Productos por bodega</h2>
            </header>
            <section id="sec-bodegas" class="bodegas">
                <div id="productos-bodega" aria-labelledby="productos-bodega-titulo">
                    <!-- las tarjetas se crean automáticamente -->
                </div>
                <div class="table-producto-bodega">
                    <table>
                        <thead>
                            <tr>
                                <th>Id Prod</th>
                                <th>Producto</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-productos-bodega"></tbody>
                    </table>
                </div>
            </section>
            <section id="sec-productos" class="oculto productos">
                <p>sec-productos</p>
            </section>

            <section id="sec-entradas" class="oculto entradas">
                <p>sec-entradas</p>
            </section>

            <section id="sec-salidas" class="oculto salidas">
                <p>sec-salidas</p>
            </section>

            <section id="sec-Transferencia" class="oculto Transferencia">
                <p>sec-Transferencia</p>
            </section>




        </main>

    </div>

    <script src="/js/dashboard.js"></script>

</body>

</html>